/*Font connection*/
@font-face {
    font-family: 'Jaapokkisubtract';
    src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}
/*Specification*/
body{
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 12px;
    color: #0001c5;
    letter-spacing: 0.06em;
}


.btn {
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: transparent;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 17px 0;
    width: 217px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #fff;
    color: #0001c5;
}

p{
    line-height: 1.7em;
}

div, p, span, input, button, a {
    box-sizing: border-box;
}

.jpk-font{
    font-family: 'Jaapokkisubtract', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaapokkisubtract', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    line-height: 1.2em;
}

h2{
    letter-spacing: 0.04em;
    margin:0;
}

h3{
    letter-spacing: 0.03em;
}

.container {
    margin: 0 auto;
    margin: 0 7%;
    position: relative;
}

/* Hero section*/
.header {
    background: #0406bd url(../img/first_bg.jpg) no-repeat center bottom / cover;
    color:#fff;
    height: 100vh;
    box-shadow: 0 100px 130px rgb(73, 79, 120, 0.5);
}

.header .container{
    height: 100vh;
    position: relative;
}

.logo{
    width: 48px;
    height: 48px;
    background: #fff;
    color: #0000a0;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 52px;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    top: 8%;
}

.logo:hover{
    border-radius: 8px;
}

.brah {
    background: #fff;
    color: #0304b9;
    font-size: 18px;
    width: 40px;
    height: 180px;
    padding: 10px 15px;
    position: absolute;
    left: 61%;
    top: 0;
    text-align: center;
    line-height: 1.5em;
}

.ham{
    width: 40px;
    position: absolute;
    right: 0;
    top: 8%;
    float: right;
    cursor: pointer;
}

.ham span{
    background: #fff;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    float: right;
    width: 100%;
}

.ham span:nth-child(2){
    width: 75%;
}

.ham span:nth-child(3){
    width: 50%;
}

.ham:hover span{
    float:left;
}

.offer{
    position: absolute;
    top:50%;
    margin-top: -199px;
}

.offer_bg{
    font-size: 300px;
    color: #1b1cc4;
    position: absolute;
}

.offer_title{
    font-size: 55px;
    position: relative;
    width: 561px;
    margin-top: 110px;
    margin-left: 134px;
}

.offer_title:after{
    content: '';
    background: #fff;
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    right: 80px;
    top: -12px;
}

.offer_dicr{
    width: 337px;
    font-size: 17px;
    margin-top: 40px;
    margin-left: 226px;
    opacity: 0.8;
}

.offer__btn {
    margin-left: 350px;
    margin-top: 45px;
}

.next{
    font-size: 300px;
    width: 433px;
    position: absolute;
    right: 0;
    line-height: 0.7em;
    top:50%;
    margin-top: -133px;
    text-shadow: 17px 15px 0 #0309a1;
}

.next span{
    margin-right: -70px;
}

.next span:nth-child(2){
    color: #0048ff;
}

.scroll {
    display: block;
    font-size: 22px;
    border-right: 3px solid #fff;
    height: 120px;
    padding-right: 40px;
    padding-top: 20px;
    padding-left:10px;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.scroll:hover {
    background-color: #ffffff;
    color: #0001c5;
}

/*Services*/

.services{
    padding-top: 166px;
    padding-bottom: 182px;
}


.section_title_intro{
    color: #a8a8e4;
    font-size: 23px;
    margin: 0;
}

.section_title_title{
    font-size: 85px;
    margin-left: 50px;
    position: relative;
}

.section_title_title:after{
    content:'';
    display: inline-block;
    background-color: #1e1fec;
    width: 29px;
    height: 5px;
    margin-bottom: -15px;
}

.service_item{
    width: 22%;
    border: 4px solid #0001c5;
    display:block;
    margin-top: 125px;
    padding-left: 45px;
    padding-top: 60px;
    padding-bottom: 70px;
    color:#0001c5;
    text-decoration: none;
    position: relative;
}

.service_icon{
    font-size: 48px;
    margin-bottom: 45px;
    display: block;
}

.service_title{
    font-size: 26px;
    margin-top: 50px;
}

.service_more{
    font-family: 'Jaapokkisubtract', sans-serif;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #0001c5;
    display: block;
    text-align: center;
    font-size: 31px;
    cursor: pointer;
    line-height: 40px;
    position: absolute;
    right: -3.6px;
    bottom: -3.6px;
}

.services_list{
    display: flex;
    justify-content: space-between;
}

.service_item:hover{
    background-color: #0001c5;
    color: #fff;
    box-shadow: 12px 12px 65px rgba(0, 1, 197, 0.45);
}

.service_item:hover .service_more{
    background-color: #fff;
    color: #0001c5;
}

.service_index{
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 23px;
    color: #a6a6e4;
    position: absolute;
    left: -45px;
    top: 30px;
}

/*Footer*/


.footer{
    padding: 160px 0;
    background-color: #ededf8;
}

.logo-footer{
    background-color: #0001c5;
    color: #ffffff;
    position: relative;
    top: auto;
}

.footer_items{
    display: flex;
    justify-content: space-between;
}

.footer{
    font-size: 12px;
}

.footer_btn{
    border: 3px solid #0001c5;
    color: #0001c5;
    width: 160px;
    padding: 10px 0;
    font-size: 17px;
}

.footer_padding{
    padding: 20px 0;
}

.footer_btn:hover{
    background-color: #0001c5;
    color: #ededf8;
}

.footer_up{
    text-decoration: none;
    color: #0001c5;
    font-size: 15px;
}

.popup_1{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top:0;
    left: 0;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup_1:target{
    opacity: 1;
    visibility: visible;
}

.popup_1:target .popup1__body{
    opacity: 1;
    transform: perspective(500px) translate(0, 0) rotateX(0deg);
}

.popup_1 a{
    text-decoration: none;
}

.popup1__body{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -115px;
    left: 50%;
    margin-left: -166px;
    background-color: #fff;
    padding: 15px 32px;
    text-align: center;
    background-color: #0406bd;
    border: 6px solid #fff;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0, -100%) rotateX(60deg);
}

.popup1__content{
    max-width: 600px;
}

.popup1__close{
    font-weight: bold;
    position: absolute;
    top: -1%;
    right: -1%;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    width: 30px;
    height: 30px;
    line-height: 34px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 5px;
    transition: all 0.3s ease;
}

.popup1__close:hover{
    background-color: #fff;
    color: #0048ff;
}

.popup1__title{
    position: relative;
    letter-spacing: 0.06em;
    color: #fff;
    text-shadow: 2px 2px 0 #0309a1;
    font-size: 20px;
}

.popup1__field{
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    width: 200px;
}

.popup1__field input{
    display: block;
    width:100%;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 30px;
    outline: none;
}

.popup1__field input:focus{
    background-color: #ededf8;
}

.popup1__btn{
    width: 130px;
    padding: 5px 0;
    border-radius: 30px;
    margin-bottom: 15px;
}

.popup1__btn:hover{
    color: #1e1fec;
}

.popup1__send{
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    width: 130px;
}

.popup1__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup1__title:after{
    content: '';
    display: block;
    background-color: #ffffff;
    width: 15px;
    height: 3px;
    position: absolute;
    right: 9%;
    bottom: -374%;
}

#popup1__span{
    color: #0048ff;
}



